<!DOCTYPE html>
<html lang="en">
<head>
  <title>WEBSITE</title>
  <style>
    body{
      background-color: rgb(183, 182, 182);
      font-size: medium;
      font-family: 'Times New Roman', Times, serif;
    }
    h1{
      color:rgb(15, 15, 122);
      text-align: center;
    }
    h2{
      color:rgb(60, 18, 99);
      margin: 20px;
    }
    label{
      color:rgb(43, 43, 172);
      margin: 5px;
    }
    p{
      color:rgb(4, 88, 4);
      margin: 10px;
      padding: 10px;
      width: 90%;
    }
    a{
      color:blue;
    }
  </style>
</head>
<body>
  <h1>WEB DEVELOPMENT</h1>
  <hr>
  <h2>Frond End</h2>
  <label><strong>HTML</strong></label><br>
  <p>
    HTML (HyperText Markup Language) is the standard markup language used to create web pages. It defines the structure and content of web pages using a series of elements and tags. HTML is the backbone of web development and is often used in conjunction with CSS (Cascading Style Sheets) and JavaScript to create interactive and visually appealing websites.To know more:
  </p>
  <a href="https://en.wikipedia.org/wiki/HTML"> click here </a>
  <br><br>
  <label><strong>CSS</strong></label><br>
  <p>
    CSS, or Cascading Style Sheets, is a stylesheet language used to control the presentation and layout of web pages. It works alongside HTML to define how elements on a webpage should appear, including their colors, fonts, spacing, alignment, and positioning.To know more:
  </p>
  <a href="https://en.wikipedia.org/wiki/CSS"> click here </a>
  <br><br>
  <label><strong>Javascript</strong></label><br>
  <p>
    JavaScript is a versatile, high-level programming language primarily used for creating interactive and dynamic web applications. It is lightweight, interpreted, and conforms to the ECMAScript standard.To know more:
  </p>
<a href="https://en.wikipedia.org/wiki/JavaScript"> click here </a>
<br><br>
  <h2>Back End</h2>
   <label><strong>PYTHON</strong></label><br>
   <p>
    Python is a high-level, interpreted, and object-oriented programming language known for its simplicity and readability.Python can be used to create web applications using frameworks like Django, Flask, and Pyramid. These frameworks provide tools and libraries to simplify web development tasks.To know more:
   </p>
<a href="https://en.wikipedia.org/wiki/Python_(programming_language)"> click here </a>
</body>
</html>